:root{
    --blue:#47ADF1;
    --background: #F5F9F9;
    --purple:#9C72E4;
    --cyan:#64C0A9;
    --orange:#F29E33;
    --pink:#D863A1;
    --green:#B0C926;
}

body{
    background-color: var(--background);
}

header{
    background-color: white;
    padding-bottom: 1rem;
}

header h1{
    display: inline;
    line-height: 60px;
    vertical-align:text-bottom;
    padding-left: 1rem;
}

main{
    margin-right: auto;
    margin-left: auto;
    width: 70%;
}

.buttons{
    text-align: center;

    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 2px;
}

.todolist{
    background-color: white;

    padding-top: 1rem;
    margin-top: 2rem;
    margin-top: 0;
}

button{
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.task-button{
    color: white;
    background-color: var(--blue);
}

.section-button{
    color: gray;
    border: solid gray 1px;
    background-color: white;
}

.section{

    font-weight: bold;

    padding-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

p{
    padding-left: 3rem
}

.task{

}

.task_cathegory{
    display: inline;
    color: white;
    border-radius: 15px;
    padding: 8px;
}

.editorial{
    background-color: var(--blue);
}

.q1_goals{
    background-color: var(--purple);
}

.recruiting{
    background-color: var(--cyan);
}

.mobile{
    background-color: var(--orange);
}

.none{
    display: none;
}

.website{
    background-color: var(--pink);
}

.sales{
    background-color: var(--green);
}
